@page
@model Dreamcatcher.Pages_Members.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Member.stageName" class="control-label"></label>
                <input asp-for="Member.stageName" class="form-control" />
                <span asp-validation-for="Member.stageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.fullName" class="control-label"></label>
                <input asp-for="Member.fullName" class="form-control" />
                <span asp-validation-for="Member.fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.englishName" class="control-label"></label>
                <input asp-for="Member.englishName" class="form-control" />
                <span asp-validation-for="Member.englishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.birthday" class="control-label"></label>
                <input asp-for="Member.birthday" class="form-control" />
                <span asp-validation-for="Member.birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.role" class="control-label"></label>
                <input asp-for="Member.role" class="form-control" />
                <span asp-validation-for="Member.role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.homeTown" class="control-label"></label>
                <input asp-for="Member.homeTown" class="form-control" />
                <span asp-validation-for="Member.homeTown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
