@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var dtstring = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Dreamcatcher</h1>
    <p>Author: Chantal Monette</p>
    <p> @dtstring </p>
</div>
